HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
application-local.properties
credentials.json
src/main/resources/config/sheets-ranges.yml
sheets-ranges.yml
logs/application.log
logs/*.log
/src/main/java/com/levita/levita_monitoring/security/CredentialsGenerator.java
src/main/resources/static/assets/**
src/main/resources/static/fonts/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
